html{box-sizing:border-box}
*,:after,:before{box-sizing:inherit}
body{
  font:17px Lato,helvetica,arial,sans-serif;
  line-height:1.4em;
  color:#4d4d4d;
  font-smoothing:antialiased;
  font-weight:300;
  color:#555;
}

h1,h2,h3,h4,h5,h6{
  color:#555
}

a,a:visited{color:#df2e2e;text-decoration:none}


